body{
    font-family: 'Plus Jakarta Sans',sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex:1;
}

/*navbar*/
.navbar{
    height: 5rem;
    background-color: white;
    font-weight: 500 !important;
}

.navbar-nav a:hover{
    color:rgb(187, 30, 30) !important;
}

.fa-compass{
    color:brown !important;
    font-size: 2.125rem;
}

.nav-link{
    color:#222222 !important;
}

/*footer*/
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color:blue;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:1rem;
}

.f-info{
    text-align:center;
    height: 8rem;
  
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/*cards*/
.card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
 border-radius: 1rem !important;   
 width: 100%;
 object-fit: cover !important;
 
}

.card-text p{
    font-weight: 400 !important;
}

.listing-lin{
    text-decoration: none;
    color:black;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}

/* New Page */

.add-btn{
    background-color: brown !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #a52a2a !important;
    border:none !important;
}

.edit-btn:hover{
    background-color: #d63939 !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}

.show-card{
    padding-left:0;
    padding-right: 0;
}

.del-btn{
    background-color: gray !important;
    border:none;
}

.del-btn:hover{
    background-color: #423a3a !important;
}